<div class="about-body">
  <h1>php-dmm-netgame-web</h1>

  <h2>可能会有的问题以及解答</h2>
  <p>问: 提示对DMM输入了错误的数据?</p>
  <p>答: 如果刷新页面/重新登陆无效, 请尝试在设置页面清除Cookies并重新登陆</p>
  <p>问: 完善不了账号信息/无法购买课金道具?</p>
  <p>答: 这部分功能尚未经过完整测试, 请将具体联系方式回复至贴吧以协助开发(谨慎起见不提供链接)</p>

  <h2>php-dmm-netgame-web-angular</h2>
  <p>项目启动日期: 2019-06-26</p>
  <p>初版竣工日期: 2019-07-11</p>
  <p>历经难关:</p>
  <ul>
    <li>Angular 8</li>
    <li>Angular Material</li>
    <li>DMM RPC</li>
    <li>样本收集(失败告终)</li>
    <li>域名注册</li>
    <li>功能测试</li>
  </ul>

  <h2>php-dmm-netgame-web-aurelia</h2>
  <p>项目启动日期: 2019-06-08</p>
  <p>初版竣工日期: 2019-06-24</p>
  <p>历经难关:</p>
  <ul>
    <li>PHP</li>
    <li>Composer</li>
    <li>GuzzleHTTP</li>
    <li>DMM多方法登录</li>
    <li>Cookies转发</li>
    <li>DMM双站点同时登陆</li>
    <li>DMM返回结果解析</li>
    <li>Aurelia</li>
    <li>TypeScript</li>
    <li>Material Components Web</li>
    <li>舰队collection 2019年 春季活动</li>
    <li>地球OL</li>
  </ul>

  <p>玩的愉快 :)</p>
</div>
